
<div class="tamanho">
  <div class="tama">
{{#each comenta}}
<div class="list">
   <span class="nomess">{{clientNome}}</span><br>   
    

    <span class="nomes">Comentou</span>
    <br>
    <br>

     <span class="come">{{comentario}}</span> </p>

</div>  
{{/each}}
<hr>
</div>
</div>