
<style>
    body{
        background:linear-gradient(to left, rgba(145, 255, 0, 0.139), rgb(111, 151, 149))

    }
    #logotokiomarine{
        margin-left: 18%;
        align-items: center;
        justify-content: center;
        display: flex;
    }


    .container_cli{
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
    }


    .container_cli2 label{
        margin-top: 30px;
        font-size: 20px;        
    }


    .container_cli2 {
        border-radius: 10px;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.131);
        margin-right: 17%;       
    }



    .dados{
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }



    .dados_cli{
       
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:rgb(255, 255, 255) ;
    }



    .icons{
        border: 2px solid rgba(0, 0, 0, 0.131);
        border-radius: 10px;
        display: flex;
        align-items: center;
        height: 100px;
        background:linear-gradient(to left, rgb(135, 203, 46), rgb(111, 151, 149)); 
    }

    .botao{
        margin-top: 20px;
        float: right;
        width: 150px;
        border: 1px solid black;
        border-radius: 10px;
        height: 50px;
    }
</style>




<div class="icons">
    <img id="logotokiomarine"src="https://www.tokiomarine.com.br/wp-content/themes/tokiomarine/assets/icons/common/logo-tokiomarine.svg" width="200px">

</div>


<div>{{>img_perfil}}</div>

<div class="container_cli">
    
    <div class="container_cli2">

    </div>




</div>
